ul {
  list-style: none;
}

.all-list-container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  background-color: lightgray;
}

.list-scroller {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: white;
  width: 200px;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}

main {
  display: grid;
  justify-content: space-around;
}

#map {
  height: 600px;
  width: 600px;
  background-color: blue;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
